.background {
  position: fixed;
  background-size: cover;
  filter: blur(30px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

main {
  height: calc(100vh - 6.4rem);
  display: grid;
  place-items: center;
  overflow: hidden;
  .song-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 70rem;
    max-width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 68rem;
    .lyrics {
      padding: 2.5rem 1rem 2rem;
      text-overflow: ellipsis;
      width: 100%;
      transition: transform 1s;
      transform: translateY(-100%);
      display: flex;
      p{
        width: 100%;
      }
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      text-align: center;
      overflow-y: auto;
    }
    .expand {
      position: absolute;
      z-index: 10;
    }
    mat-icon {
      font-size: 4rem;
      cursor: pointer;
    }
    .play{
      width: 100%;
      position: absolute;
      display: flex;
      transition: transform 1s;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .top{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 3rem;
        .add {
          margin: 0 1.5rem;
        }
        .back{
          margin-right: auto;
        }
        .favorite{
          margin-right: 1rem;
        }
      }
      .song-name {
        margin-top: 2rem;
        font-size: 3.5rem
      }
      .artist {
        font-size: 2rem;
      }
      img {
        width: 35rem;
        margin: 0 auto;
      }


      .control {
        width: 100%;
        margin-top: auto;
        .timing{
          direction: ltr;
          margin: 0 0.5rem;
          .timer {
            margin: 0 0.5rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .progress {
            width: 100%;
            //background-color: white;
            //height: 5px;
            //border-radius: 999rem;
            //width: 100%;
            //.duration {
            //  height: 5px;
            //  width: 0;
            //  border-radius: 999rem;
            //  background-image: linear-gradient(130deg, cyan, #00efd1, #12b2b2);
            //}
          }
        }
      }
      .actions{
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        mat-icon {
          font-size: 3rem;
        }
      }
    }
  }
}
