<ng-template [ngIf]="song">
  <div class="background" [ngStyle]="{'background-image': 'url(' + song.cover + ')'}" >
  </div>
  <main>
    <div class="song-container">
      <div class="top">
<!--        <mat-icon class="add">add_circle_outline</mat-icon>-->
        <mat-icon class="favorite" (click)="songService.toggleLike(song)" [ngStyle]="{'color': songService.checkIsLiked(song) ? 'var(--color-primary)': 'unset'}">favorite</mat-icon>
        <mat-icon class="back" (click)="location.back()">arrow_back</mat-icon>
      </div>
      <img [src]="song.cover" alt="music cover picture" class="cover" id="cover">
      <h2 class="song-name" id="title">{{song.name}}</h2>
      <h3 class="artist">{{song.artist}}</h3>
      <div class="control">
        <div class="timing">
          <div class="timer">
            <div id="currTime">{{currentTime}}</div>
            <div id="durTime">{{duration}}</div>
          </div>
          <mat-slider class="progress" color="primary" invert="true" [value]="progressPercent" (input)="setTime($event)"></mat-slider>
        </div>
        <audio #audio controls hidden (timeupdate)="updateProgress($event)" autoplay>
          <source type="audio/mpeg" [src]="song.file">
          پشتیبانی نمی شود!
        </audio>
        <div class="actions">
<!--          <div class="volume">-->
<!--            <mat-icon>volume_up</mat-icon>-->
<!--          </div>-->
<!--          <mat-icon>shuffle</mat-icon>-->
<!--          <mat-icon>fast_forward</mat-icon>-->
          <mat-icon (click)="togglePlay()" style="font-size: 5rem">{{isPlaying ? 'pause_circle_outline' : 'play_circle_outline'}}</mat-icon>
<!--          <mat-icon>fast_rewind</mat-icon>-->
<!--          <mat-icon>repeat</mat-icon>-->
        </div>
      </div>
    </div>
  </main>
</ng-template>
<footer>
    <div class="copyright">تمام حقوق سایت محفوظ است.</div>
    <div class="social">
        <div class="socialMediaIcons">
            <a href="https://twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

        <div class="socialMediaIcons">
            <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

        <div class="socialMediaIcons">
            <a href="https://ca.linkedin.com" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</footer>
