<header>
  <a href="index.html" class="home">
    <img src="../../assets/images/logo.png" alt="لوگو" class="logo">
  </a></header>
<main>
  <form #signUpForm="ngForm" (ngSubmit)="signupClick()">
    <div class="firstN-lastN">
      <div>
        <label for="fName">نام</label>
        <input type="text" id="fName" name="fName" [(ngModel)]="user.firstName">
      </div>
      <div>
        <label for="lName">نام خانوادگی</label>
        <input type="text" id="lName" name="lName" [(ngModel)]="user.lastName">
      </div>
    </div>
    <label for="username">یورنیم</label>
    <input type="text" id="username" name="username" [(ngModel)]="user.username" required>

    <label for="email">ایمیل</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required>

    <label for="password">پسورد</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required>

    <button type="submit" [disabled]="!signUpForm.valid">ثبت نام</button>

    <a routerLink="login" >
      قبلا ثبت نام کرده‌اید ؟
    </a>
  </form>
</main>
<!--<footer>-->
<!--  <div class="copyright">تمام حقوق سایت محفوظ است.</div>-->
<!--  <div class="social">-->
<!--    <div class="socialMediaIcons">-->
<!--      <a href="https://twitter.com" target="_blank">-->
<!--        <i class="fab fa-twitter"></i>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="socialMediaIcons">-->
<!--      <a href="https://www.instagram.com" target="_blank">-->
<!--        <i class="fab fa-instagram"></i>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="socialMediaIcons">-->
<!--      <a href="https://ca.linkedin.com" target="_blank">-->
<!--        <i class="fab fa-linkedin-in"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
