<header class="header-signup">
  <a href="index.html" class="home">
    <img src="../../assets/images/logo.png" alt="لوگو" class="logo">
  </a></header>
<main>
  <form #loginForm = "ngForm" (ngSubmit)="login(loginForm)">
    <label for="username">یوزرنیم</label>
    <input #username type="text" id="username" name="username" ngModel required>

    <label #password for="password">پسورد</label>
    <input type="password" id="password" name="password" ngModel required>

    <span class="forgot-text"><a href="#"> رمز عبور خود را فراموش کردید ؟</a></span>

    <div class="remember">
    <label for="rememberMe">مرا به خاطر بسپار</label>
      <mat-checkbox color="primary" id="rememberMe" [ngModel]="true" name="rememberMe"></mat-checkbox>
    </div>
    <button [disabled]="!loginForm.valid" id="submit" type="submit">ورود</button>

    <a routerLink="/signup" >
      آیا ثبت نام نکرده‌اید ؟
    </a>
  </form>
</main>
<div class="bg"></div>
<!--<footer>-->
<!--  <div class="copyright">تمام حقوق سایت محفوظ است.</div>-->
<!--  <div class="social">-->
<!--    <div class="socialMediaIcons">-->
<!--      <a href="https://twitter.com" target="_blank">-->
<!--        <i class="fab fa-twitter"></i>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="socialMediaIcons">-->
<!--      <a href="https://www.instagram.com" target="_blank">-->
<!--        <i class="fab fa-instagram"></i>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="socialMediaIcons">-->
<!--      <a href="https://ca.linkedin.com" target="_blank">-->
<!--        <i class="fab fa-linkedin-in"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
