$dark_cyan: #00efd1;
$carbon_black: #111010;

@mixin flex($justify_content: center) {
  display: flex;
  justify-content: $justify_content;
  align-items: center;
}


@font-face {
  font-family: vaziri;
  src: url("../../assets/fonts/Vazir.ttf");
}

html {
  font-size: 62.5%;
}

* {
  font-family: vaziri, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.5rem;
  color: aliceblue;
}

.main-header {
  @include flex(space-between);
  position: relative;
  top: 0;
  padding: 15px 30px;
  background-color: $carbon_black;
}

.logo {
  width: 8rem;
}

.nav-bar {
    li {
      padding: 1rem;
      display: inline;
    }
}

a {
  color: #f0f8ff;
  text-decoration: none;
  &:hover {
    color: $dark_cyan;
  }
}

footer {
  @include flex(space-around);
  background-color: $carbon_black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.links {
    li {
      display: inline;
      padding-left: 0.5rem;
    }
}

.social {
  @include flex();
  .socialMediaIcons{
    svg {
      width: 40px;
      margin: 5px;
      vertical-align: middle;
    }
  }
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}
