html {
  font-size: 62.5%;
}

//body {
//  background-color: gray;
//  //margin: 0px;
//  //padding: 0px;
//}

body {
  background-image: url('assets/pic/bg.jpg');
  font-size: 1.5rem;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  direction: rtl;
}

header {
  //background-color: #0c0c2a;
  //color: white;
  position: relative;
  top: 0px;

  //left: 0;
  //width: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.logo {
  width: 5rem;
}

.nav-bar {
  ul {
    list-style: none;

    li {
      padding: 1rem;
      display: inline;
      a:link{
        color: white;
        text-decoration: none;
      }
    }
  }
}

main {


}

.banner {
  //background-image: url('../../assets/pic/bg.jpg');
  //background-position: center;
  //background-size: cover;
  position: relative;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  //right: 50vw;
  //top: 50vh;
  button{
    //align-self: flex-end ;
    background-color: transparent;
    color: white;
    border: none;
  }
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  background-color: #0c0c2a;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 20px;

  //color: white;
  //text-align: center;
}

.links {
  ul {
    padding: 0px;
    list-style: none;

    li {
      display: inline;
      padding-left: 0.5rem;
      a:link{
        color: white;
        text-decoration: none;
      }
    }
  }
}