@use "global";

html {
  scroll-behavior: smooth;
  height: 100%;

  body {
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6f6f6f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

main {
  display: grid;
  height: 100%;
  grid-template-columns: 25rem auto;

  .my-side-bar {
    background: global.$carbon_black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home {
      margin-top: 2rem;
      text-align: center;

      img {
        width: 30%;
      }
    }

    .options {
      @include global.flex();
      flex-direction: column;
      width: 100%;
      margin-top: 10rem;

      a {
        position: relative;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 2rem;
        margin: 10px;

        &:hover {
          color: inherit;
        }

        &.underlined::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          border-radius: 3px;
          top: 100%;
          background: linear-gradient(130deg, #12b2b2, cyan);
        }
      }
    }

    .logout {
      font-size: 1.2rem;
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 20%;
      margin-bottom: 2rem;
      text-align: center;

      &:hover {
        color: inherit;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-width: max-content;
    .playlist-header {
      width: 100%;
      display: flex;
      background-image: url("../../assets/images/background_main.jpg");
      height: 25rem;
      align-items: center;

      .music-icon {
        margin: 4rem;

        img {
          border-radius: 2rem;
          box-shadow: 10px 10px 15px black;
          width: 200px;
          height: 200px;
        }
      }

      h1 {
        margin: auto 2rem auto 2rem;
        font-size: 4rem;
        text-shadow: 0 0 2rem #00efd1;
      }
    }

    .items {
      background-image: linear-gradient(to top right, #098080, #111010, #000000);
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .list-songs {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 3rem;
        margin-bottom: 1rem;
        padding: 2rem;

        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 2rem;
          justify-items: center;
          row-gap: 5rem;
        }

        li {
          width: 20rem;
          background-color: global.$carbon_black;
          padding: 1rem;
          padding-top: 2rem;
          border-radius: 1rem;
          transition: transform 500ms;
          &:hover {
            transform: scale(1.05, 1.05);
          }

          a {
            height: 100%;
            cursor: default;

            &:hover {
              color: inherit;
            }

            display: flex;
            flex-direction: column;

            img {
              width: 20rem;
              height: 20rem;
            }

            .song-name {
              font-size: 2rem;
            }

            .row-2 {
              margin-top: auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .liked {
                color: cyan;
              }

              margin-bottom: 1rem;
            }
          }
        }
          i {
            cursor: pointer;
            transition: color 0.25s ease-in-out;
          }
      }
    }
  }
}

.page-btn {
  display: flex;
  justify-content: center;

  button {
    margin: 0 1rem;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
    align-items: center;

    i {
      margin: 0 0.5rem;
    }

    &:enabled:hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.2;
    }
  }
}

.options-style {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  .view-options {
    div {
      display: inline;
    }

    label {
      margin-right: 2rem;
    }

    select {
      background-color: transparent;
      border: white 1px solid;
      border-radius: 5px;
      color: white;
      padding: 0.3rem;

      option {
        color: black;
      }
    }
  }

  .search-options {
    margin-left: 2rem;

    .search-btn {
      //display: block;
    }

    button {
      background-color: transparent;
      font-size: 1.8rem;
      border: none;
      border-radius: 5px;
      color: white;

      &:hover {
        cursor: pointer;
        color: global.$dark_cyan;
      }
    }

    .search-container {
      //display: none;
      input {
        background-color: transparent;
        border: white 1px solid;
        border-radius: 5px;
        color: white;
        padding: 0.3rem;
      }

      #number-relevant-results {
        width: 3rem;
        alignment: center;
      }
    }
  }
}

.display-none {
  display: none;
}


@media screen and (min-width: 768px){
  main .content .items .list-songs {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 992px){
  main .content .items .list-songs {
    ul {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}