@use "global";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6f6f6f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}


main {
  .my-side-bar {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: global.$carbon_black;
    padding: 1.5rem;
    .menu-icon {
      z-index: 2;
    }
    .menu {
      z-index: 1;
      background-color: #1a1a1a;
      position: fixed;
      display: flex;
      top: -100%;
      height: 100%;
      right: 0;
      bottom: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      transition: top 0.3s;
      &.open {
        top: 0;
      }
      .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          position: relative;
          text-align: center;
          padding: 2px;
          margin: 0.7rem;
          font-size: 2rem;
          &:hover {
            color: inherit;
          }
          &:not(.underlined)::before {
            transition: 0.5s transform ease-in-out;
            transform: scaleX(0);
          }

          &:not(.underlined):hover::before {
            transform: scaleX(1);
          }

          &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 3px;
            top: 100%;
            background: linear-gradient(130deg, #12b2b2, cyan);
          }
        }
      }

    }

    .logout {
      font-size: 1.2rem;
      text-align: center;
      &:hover {
        color: inherit;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 64px);
    padding-top: 64px;
    .playlist-header {
      width: 100%;
      display: flex;
      background-image: linear-gradient(to top right, #098080, #111010, #000000);
      height: 15rem;
      align-items: center;
      border-bottom: 2px ridge cyan;
      .music-icon {
        margin: 2rem;
        img {
          border-radius: 2rem;
          box-shadow: 10px 10px 15px black;
          width: 10rem;
        }
      }

      h1 {
        font-size: 3rem;
      }
    }

    .items {
      background-image: linear-gradient(to top right, #1a1a1a, global.$carbon_black, black);
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      height: 100%;
      .list-songs {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 3rem;
        padding: 2rem;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        li {
          width: 20rem;
          background-color: global.$carbon_black;
          margin: 3rem;
          padding: 1rem;
          padding-top: 2rem;
          border-radius: 1rem;
          transition: transform 500ms;
          &:hover {
            transform: scale(1.05, 1.05);
          }

          a {
            height: 100%;
            cursor: default;

            &:hover {
              color: inherit;
            }

            display: flex;
            flex-direction: column;

            img {
              cursor: pointer;
              width: 20rem;
              height: 20rem;
            }

            .song-name {
              font-size: 2rem;
              padding-top: 0.25rem;
            }

            .row-2 {
              margin-top: auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .like-icon {
                cursor: pointer;
                transition: 0.25s fill ease-in-out;
                &.liked {
                  fill: global.$dark_cyan;
                }
              }
              margin-bottom: 1rem;
            }
          }
        }
          i {
            cursor: pointer;
            transition: color 0.25s ease-in-out;
          }
      }
    }
  }
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  button {
    margin: 0 1rem;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
    align-items: center;

    i {
      margin: 0 0.5rem;
    }

    &:enabled:hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.2;
    }
  }
}

.options-style {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  .view-options {
    div {
      margin: 1rem;
      display: block;
    }

    label {
      margin-right: 2rem;
    }

    select {
      background-color: transparent;
      border: white 1px solid;
      border-radius: 5px;
      color: white;
      padding: 0.3rem;

      option {
        color: black;
      }
    }
  }

  .search-options {
    margin-left: 2rem;
    display: grid;
    place-items: center;
    button {
      background-color: transparent;
      font-size: 1.8rem;
      border: none;
      border-radius: 5px;
      color: white;
      &:hover {
        cursor: pointer;
        color: global.$dark_cyan;
      }
    }

    .search-container {
      input {
        background-color: transparent;
        border: white 1px solid;
        border-radius: 5px;
        color: white;
        padding: 0.3rem;
      }

      #number-relevant-results {
        width: 3rem;
        alignment: center;
      }
    }
  }
}

.display-none {
  display: none;
}

@media screen and (min-width: 768px){
  .menu-icon {
    display: none;
  }
  main {
    .my-side-bar {
      .menu {
        background-color: initial;
        position: initial;
        flex-direction: row;
        transition: none;
        justify-content: space-between;
        .menu-items {
          flex-direction: row;
          margin: auto  ;
        }
      }
    }
    .content {
      min-height: calc(100vh - 118px);
      .playlist-header {
        h1 {
          font-size: 3.5rem;
        }
      }
      padding-top: 118px;
    }
  }
}

@media screen and (min-width: 992px){
  main {
    .my-side-bar {
      box-sizing: border-box;
      flex-direction: column;
      width: 25rem;
      height: 100%;
      .menu {
        flex-direction: column;
        .menu-items {
          flex-direction: column;
          margin-top: 15rem;
        }
      }
      .logout {
        margin-bottom: 10rem;
      }
    }
    .content {
      padding-top: 0;
      padding-right: 25rem;
      min-height: 100vh;
      .playlist-header {
        height: 20rem;
        .music-icon img {
          width: 12rem;
        }
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
}