@use "global";

body {
  background-image: url("../../assets/images/background_main.jpg");
}

header {
  margin: 20px;
  @include global.flex();
}

main {
  @include global.flex();
}

form {
  @include global.flex();
  flex-direction: column;
  width: 50vw;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.68);
  border: 3px white solid;
  border-radius: 10px;
  padding: 30px;

  label {
    margin-bottom: 1rem;
  }

  input {
    width: 40vw;
    max-width: 450px;
    margin-bottom: 20px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;

    &:nth-of-type(4) {
      margin-bottom: 30px;
    }

    &:nth-of-type(5) {
      border: 2px solid;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 10px;

      &:hover {
        background-color: global.$dark_cyan;
        cursor: pointer;
      }
    }

  }

  button {
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 2px white solid;
    width: 40vw;
    max-width: 450px;
    border-radius: 10px;

    &:hover {
      background-color: global.$dark_cyan;
      cursor: pointer;
    }
  }
}

@media (max-width: 780px) {
  footer {
    display: none;
  }
}