@use "global";

body{
  background-image: url("../../assets/pic/background_song.jpg");
  height: 100vh;
  overflow: hidden;
  main{
    margin-top: 10rem;
  }
}
.title{
  margin: 2rem 0;
}

.progress{
  background-color: white;
  height: 5px;
  border-radius: 999rem;
  width: 100%;
}
.duration{
  height: 5px;
  width: 10%;
  border-radius: 999rem;
  background-image: linear-gradient(130deg, cyan, #00efd1, #12b2b2);
}
.timeline{
  display: flex;
  justify-content: space-between;

}

.song-item{
  display: flex;
  flex-flow: column wrap;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 20px 15px black;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  border-radius: 10px;
  border: 2px solid cyan;
  width: 70%;
  margin: 10px auto auto auto ;

  .song-name {
    margin-top: 1vh;
    font-size: 2.2vw;
  }
  .artist{
    margin-top: 0;
    font-size: 1vw;
  }
  img {
    width: 60%;
    margin: auto;
  }
  .album {
    margin: 0;
    font-size: 0.8vw;
  }

  .release-date {
    margin: 2px;
    font-size: 0.8vw ;
  }

  .control {
    width: 70%;
    margin-top:2rem;
    margin-bottom: 2rem;
    text-align: center;
    direction: ltr;
    input {
      display: none;
    }
  }
  audio{
    color: black;
  }
}

@media screen and (min-width: 768px){
  .song-item {
    width: 30%;
  }
}
