body{
  margin: 0;
  height: 100%;
  background-image: url("../../assets/pic/4205784.jpg");
  background-size: cover;
  main{
    height: 100%;
  }
}

.song-item{
  display: flex;
  flex-flow: column wrap;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 20px 15px black;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  border-radius: 10px 100px;
  border: 2px solid cyan;
  width: 70%;
  margin: 10px auto auto auto ;

  .song-name {
    margin-top: 1vh;
    font-size: 2.2vw;
  }
  .artist{
    margin-top: 0;
    font-size: 1vw;
  }
  img {
    width: 60%;
    margin: auto;
  }
  .album {
    margin: 0;
    font-size: 0.8vw;
  }

  .release-date {
    margin: 2px;
    font-size: 0.8vw ;
  }

  .control {
    margin-top:15%;
    margin-bottom: 2rem;
  }
  audio{
    color: black;
  }
}

@media screen and (min-width: 768px){
  .song-item {
    width: 30%;
  }
}
