@font-face {
  font-family: vaziri;
  src: url("../../assets/fonts/Vazir.ttf");
}
html {
  height: 100%;
  font-size: 62.5%;
}

* {
  font-family: vaziri, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.5rem;
  color: aliceblue;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0;
  padding: 1.5rem 5rem;
  background-color: #111010;
}

.logo {
  width: 8rem;
}

.nav-bar li {
  padding: 1rem;
  display: inline;
}

a {
  color: aliceblue;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111010;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
}

.links li {
  padding-left: 1rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.social .socialMediaIcons {
  margin: 0 1rem;
}
.social .socialMediaIcons svg {
  width: 40px;
  margin: 5px;
  vertical-align: middle;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6f6f6f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

main .my-side-bar {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111010;
  padding: 1.5rem;
}
main .my-side-bar .menu-icon {
  z-index: 2;
}
main .my-side-bar .menu {
  z-index: 1;
  background-color: #1a1a1a;
  position: fixed;
  display: flex;
  top: -100%;
  height: 100%;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: top 0.3s;
}
main .my-side-bar .menu.open {
  top: 0;
}
main .my-side-bar .menu .menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .my-side-bar .menu .menu-items a {
  position: relative;
  text-align: center;
  padding: 2px;
  margin: 0.7rem;
  font-size: 2rem;
}
main .my-side-bar .menu .menu-items a:hover {
  color: inherit;
}
main .my-side-bar .menu .menu-items a:not(.underlined)::before {
  transition: 0.5s transform ease-in-out;
  transform: scaleX(0);
}
main .my-side-bar .menu .menu-items a:not(.underlined):hover::before {
  transform: scaleX(1);
}
main .my-side-bar .menu .menu-items a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  top: 100%;
  background: linear-gradient(130deg, #12b2b2, cyan);
}
main .my-side-bar .logout {
  font-size: 1.2rem;
  text-align: center;
}
main .my-side-bar .logout:hover {
  color: inherit;
}
main .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 64px);
  padding-top: 64px;
}
main .content .playlist-header {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to top right, #098080, #111010, #000000);
  height: 15rem;
  align-items: center;
  border-bottom: 2px ridge cyan;
}
main .content .playlist-header .music-icon {
  margin: 2rem;
}
main .content .playlist-header .music-icon img {
  border-radius: 2rem;
  box-shadow: 10px 10px 15px black;
  width: 10rem;
}
main .content .playlist-header h1 {
  font-size: 3rem;
}
main .content .items {
  background-image: linear-gradient(to top right, #1a1a1a, #111010, black);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
}
main .content .items .list-songs {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 3rem;
  padding: 2rem;
}
main .content .items .list-songs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .content .items .list-songs li {
  width: 20rem;
  background-color: #111010;
  margin: 3rem;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 1rem;
  transition: transform 500ms;
}
main .content .items .list-songs li:hover {
  transform: scale(1.05, 1.05);
}
main .content .items .list-songs li a {
  height: 100%;
  cursor: default;
  display: flex;
  flex-direction: column;
}
main .content .items .list-songs li a:hover {
  color: inherit;
}
main .content .items .list-songs li a img {
  cursor: pointer;
  width: 20rem;
  height: 20rem;
}
main .content .items .list-songs li a .song-name {
  font-size: 2rem;
  padding-top: 0.25rem;
}
main .content .items .list-songs li a .row-2 {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main .content .items .list-songs li a .row-2 .like-icon {
  cursor: pointer;
  transition: 0.25s fill ease-in-out;
}
main .content .items .list-songs li a .row-2 .like-icon.liked {
  fill: #00efd1;
}
main .content .items .list-songs i {
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.page-btn button {
  margin: 0 1rem;
  padding: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  align-items: center;
}
.page-btn button i {
  margin: 0 0.5rem;
}
.page-btn button:enabled:hover {
  cursor: pointer;
}
.page-btn button:disabled {
  opacity: 0.2;
}

.options-style {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.options-style .view-options div {
  margin: 1rem;
  display: block;
}
.options-style .view-options label {
  margin-right: 2rem;
}
.options-style .view-options select {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  padding: 0.3rem;
}
.options-style .view-options select option {
  color: black;
}
.options-style .search-options {
  margin-left: 2rem;
  display: grid;
  place-items: center;
}
.options-style .search-options button {
  background-color: transparent;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  color: white;
}
.options-style .search-options button:hover {
  cursor: pointer;
  color: #00efd1;
}
.options-style .search-options .search-container input {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  padding: 0.3rem;
}
.options-style .search-options .search-container #number-relevant-results {
  width: 3rem;
  alignment: center;
}

.display-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  main .my-side-bar .menu {
    background-color: initial;
    position: initial;
    flex-direction: row;
    transition: none;
    justify-content: space-between;
  }
  main .my-side-bar .menu .menu-items {
    flex-direction: row;
    margin: auto;
  }
  main .content {
    min-height: calc(100vh - 118px);
    padding-top: 118px;
  }
  main .content .playlist-header h1 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 992px) {
  main .my-side-bar {
    box-sizing: border-box;
    flex-direction: column;
    width: 25rem;
    height: 100%;
  }
  main .my-side-bar .menu {
    flex-direction: column;
  }
  main .my-side-bar .menu .menu-items {
    flex-direction: column;
    margin-top: 15rem;
  }
  main .my-side-bar .logout {
    margin-bottom: 10rem;
  }
  main .content {
    padding-top: 0;
    padding-right: 25rem;
    min-height: 100vh;
  }
  main .content .playlist-header {
    height: 20rem;
  }
  main .content .playlist-header .music-icon img {
    width: 12rem;
  }
  main .content .playlist-header h1 {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=playlist.css.map */
