@font-face {
  font-family: vaziri;
  src: url("../../assets/fonts/Vazir.ttf");
}
html {
  height: 100%;
  font-size: 62.5%;
}

* {
  font-family: vaziri, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.5rem;
  color: aliceblue;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0;
  padding: 1.5rem 5rem;
  background-color: #111010;
}

.logo {
  width: 8rem;
}

.nav-bar li {
  padding: 1rem;
  display: inline;
}

a {
  color: aliceblue;
  text-decoration: none;
}
a:hover {
  color: #00efd1;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111010;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
}

.links li {
  padding-left: 1rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.social .socialMediaIcons {
  margin: 0 1rem;
}
.social .socialMediaIcons svg {
  width: 40px;
  margin: 5px;
  vertical-align: middle;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
html body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6f6f6f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

main {
  display: grid;
  height: 100%;
  grid-template-columns: 25rem auto;
}
main .my-side-bar {
  background: #111010;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .my-side-bar .home {
  margin-top: 2rem;
  text-align: center;
}
main .my-side-bar .home img {
  width: 30%;
}
main .my-side-bar .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10rem;
}
main .my-side-bar .options a {
  position: relative;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2rem;
  margin: 10px;
}
main .my-side-bar .options a:hover {
  color: inherit;
}
main .my-side-bar .options a:not(.underlined)::before {
  transition: 0.5s transform ease-in-out;
  transform: scaleX(0);
}
main .my-side-bar .options a:not(.underlined):hover::before {
  transform: scaleX(1);
}
main .my-side-bar .options a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  top: 100%;
  background: linear-gradient(130deg, #12b2b2, cyan);
}
main .my-side-bar .logout {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: 15rem;
}
main .my-side-bar .logout:hover {
  color: inherit;
}
main .content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-width: fit-content;
}
main .content .playlist-header {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  background-image: linear-gradient(to top right, #098080, #111010, #000000);
  height: 20rem;
  align-items: center;
  border-bottom: 2px ridge cyan;
}
main .content .playlist-header .music-icon {
  margin: 2rem;
}
main .content .playlist-header .music-icon img {
  border-radius: 2rem;
  box-shadow: 10px 10px 15px black;
  width: 10rem;
}
main .content .playlist-header h1 {
  margin: auto 2rem auto 2rem;
  font-size: 4rem;
  min-width: max-content;
}
main .content .items {
  background-image: linear-gradient(to top right, #1a1a1a, #111010, black);
  padding-top: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
main .content .items .list-songs {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 2rem;
}
main .content .items .list-songs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .content .items .list-songs li {
  width: 20rem;
  background-color: #111010;
  margin: 3rem;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 1rem;
  transition: transform 500ms;
}
main .content .items .list-songs li:hover {
  transform: scale(1.05, 1.05);
}
main .content .items .list-songs li a {
  height: 100%;
  cursor: default;
  display: flex;
  flex-direction: column;
}
main .content .items .list-songs li a:hover {
  color: inherit;
}
main .content .items .list-songs li a img {
  cursor: pointer;
  width: 20rem;
  height: 20rem;
}
main .content .items .list-songs li a .song-name {
  font-size: 2rem;
}
main .content .items .list-songs li a .row-2 {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main .content .items .list-songs li a .row-2 img {
  height: 2rem;
  width: auto;
  cursor: pointer;
}
main .content .items .list-songs i {
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

.page-btn {
  display: flex;
  justify-content: center;
}
.page-btn button {
  margin: 0 1rem;
  padding: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  align-items: center;
}
.page-btn button i {
  margin: 0 0.5rem;
}
.page-btn button:enabled:hover {
  cursor: pointer;
}
.page-btn button:disabled {
  opacity: 0.2;
}

.options-style {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.options-style .view-options div {
  display: inline;
}
.options-style .view-options label {
  margin-right: 2rem;
}
.options-style .view-options select {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  padding: 0.3rem;
}
.options-style .view-options select option {
  color: black;
}
.options-style .search-options {
  margin-left: 2rem;
}
.options-style .search-options button {
  background-color: transparent;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  color: white;
}
.options-style .search-options button:hover {
  cursor: pointer;
  color: #00efd1;
}
.options-style .search-options .search-container input {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  padding: 0.3rem;
}
.options-style .search-options .search-container #number-relevant-results {
  width: 3rem;
  alignment: center;
}

.display-none {
  display: none;
}

/*# sourceMappingURL=playlist.css.map */
